body,
div,
input,
button,
form,
h1 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
span,
input,
button {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	
}

button {
	cursor: pointer;
	border: none;
}
