.ProfileForm {
	padding: 20px 12px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;

	label {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 8px;
		line-height: 9px;
		margin-bottom: 3px;
	}

	textarea {
		resize: none;
		border: 1px solid #D8D8D8;
		box-sizing: border-box;
		border-radius: 5px;
		width: 420px;
		height: 55px;
	}

	&__field {
		border: 1px solid #D8D8D8;
		width: 50%;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 5px 10px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 12px;
		color: #000 ;
		margin-bottom: 10px;
	}

	&__uneditableField {
		color: rgba(0, 0, 0, 0.3) !important;
	}

	&__error {
		border: 1px solid #D91313 !important;
	}

	&__submit {
		position: absolute;
		top: 540px;
		margin-left: 346px;
		margin-right: 41px;
		padding: 5px 10px;
		background: #52CF4F;
		border-radius: 5px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
	}

	&__inactiveSubmit {
		background: #AFAFAF;
	}
}
